@model spletnaSPIV.Models.User

@{
    ViewData["Title"] = "User";
    
}

<h1>User</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        @*<dt class="col-sm-2">
            @Html.Label("test")
            @Html.DisplayNameFor(model => model.Id)
        </dt>*@
        @*<dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priimek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priimek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Geslo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Geslo)
        </dd>
       
    </dl>
</div>
<div>
  
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
